.header-appbar {
  background-color: var(--primary-color) !important;

  @media print {
    display: none !important;
  }
}

.header-icon {
  margin-right: 16px;
}

.header-title {
  flex-grow: 1;
}

.header-link {
  color: white;
  text-decoration: none;
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 16px;
}

.header-button {
  border: 1px solid white !important;
}
